.comment_write_form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment_write_text {
  width: 100%;
  height: 120px;
  padding: 20px 20px 24px;
  font-size: 16px;
  outline: none;
  resize: none;
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  background-color: rgb(231, 255, 251);
}

.comment_write_text::placeholder {
  opacity: 0.7;
}

.comment_write_btn input {
  background-color: rgb(65, 147, 255);
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.06s ease-in-out;
  border: none;
  cursor: pointer;
}

.comment_write_btn input:hover {
  background-color: rgb(129, 183, 255);
}

.comment_write_btn input:active {
  transform: scale(0.95);
}

.comment_view {
  padding: 10px 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comment_user {
  height: 70px;
  display: flex;
  flex-direction: column;
}

.comment_user span {
  display: inline-block;
}
.comment_user span:first-child {
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0;
}
.comment_user span:last-child {
  opacity: 0.6;
  font-size: 14px;
}

.comment_content {
  height: 60%;
  font-size: 16px;
}
.comment_content p {
  display: inline-block;
  padding-bottom: 40px;
  line-height: 140%;
}

.comment_reply_btn {
  display: inline-block;
  width: fit-content;
  background-color: rgb(67, 133, 255);
  border-radius: 6px;
  color: white;
  padding: 10px 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.06s ease-in-out;
}

.comment_reply_btn:hover {
  background-color: rgb(130, 174, 255);
}

.comment_reply_btn:active {
  transform: scale(0.95);
}

.comment_section {
  display: flex;
  align-items: center;
}
.comment_img {
  display: flex;
}

.comment_user_img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.u_img {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
